.booking_container {
  margin-top: 3rem;
  display: grid;
  place-items: center;
}
.booking_form_card {
  width: 100%;
  max-width: 35rem;
  height: auto;
  border-radius: 10px;
  background: $white;
  box-shadow: 2px 2px 14px 0px #00000026;
  position: relative;
}
.booking_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5rem;
}
.booking_form_card_title {
  font-size: 1.5em;
  font-weight: 600;
  color: $black1;
}
.booking_form_card_btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.booking_form_card_btn {
  padding: 0.6rem 3.5rem;
  border-radius: 5px;
  background-color: $blue;
  border: none;
  box-shadow: 2px 2px 14px 0px #00000026;
  font-size: 1.1em;
  font-weight: 500;
  color: $white;
}

.custom-input-group {
  position: relative;
}

.input-group-text {
  background-color: transparent;
  color: #7d7d7d;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.form-control {
  padding-left: 10px;
  padding: 0.65rem;
  box-shadow: none;
  transition: border-color 0.3s;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
}

.form-control:focus {
  border-color: #c1bfbf;
  box-shadow: none;
}

.form-control::placeholder {
  color: #7d7d7d;
}

/* Hide number input arrows for Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// otp verification form style
.booking_form_otp_verification_text {
  color: #868d8d;
  font-size: 14px;
}
.booking_form_otp_verification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  padding: 0 6rem;
}
.booking_form_pin_otp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.booking_form_otp_verification_text_resend {
  color: $blue;
  font-weight: 600;
}

//  Booking Cofirmation

.booking_confirmation_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem;
}

.booking_confirmation_header {
  display: flex;
  align-items: center;
}

.booking_confirmation_card_title {
  font-weight: 700;
  color: #006241;
  font-size: 1.5em;
  margin-right: 1rem;
}
.booking_share_icon {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  user-select: none;
  cursor: pointer;
  width: 30px;
}
.booking_confirmation_booking_id {
  margin-top: 1rem;
  font-weight: 300;
  color: #626262;
  font-size: 16px;
}
.booking_confirmation_booking_id span {
  font-weight: 500;
  font-size: 16px;
}

.booking_varified {
  max-width: 7.5rem;
}

.booking_details_wrapper {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.booking_confirmation_details {
  font-weight: 700;
  font-size: 16px;
  line-height: 2rem;
}

.booking_confirmation_detail_label {
  min-width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient_details_wrapper {
  width: 100%;
  padding: 3rem;
}
.patient_tabs_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Inter", sans-serif;
  border: 0.5px solid $blue;
  border-radius: 5px;
}
.patient_tab {
  font-size: 1.25em;
  font-weight: 600;
  color: $blue;
  cursor: pointer;
  padding: 0.85rem;
  text-align: center;
  user-select: none;
}
.patient_tab.add-active,
.patient_tab.select-active {
  color: $white;
  background-color: $blue;
}
.patient_tab.add-active {
  border-radius: 0 5px 5px 0;
}
.patient_tab.select-active {
  border-radius: 5px 0 0 5px;
}

.custom-radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #e7e7e7;
  margin-bottom: 10px;
}

.custom-radio .form-check-input {
  margin-left: 10px;
}

.custom-radio .form-check-label {
  flex-grow: 1;
  margin-bottom: 0;
  font-size: 1.125em;
  font-weight: 500;
  color: $black1;
  padding: 10px;
}
.form-check-input:checked {
  background-color: $blue;
  border-color: $blue;
}

@media screen and (max-width: 515px) {
  .booking_form {
    padding: 0 2.5rem;
  }

  .booking_form_otp_verification_text {
    font-size: 13px;

    .booking_confirmation_container {
      padding: 0 2rem;
    }
    .booking_share_icon {
      top: 3rem;
      right: 2.5rem;
    }

    .booking_form_card_btn {
      padding: 0.6rem 3.5rem;
      font-size: 1em;
    }
    //patient booking styles
    .patient_details_wrapper {
      padding: 2rem;
    }
    .patient_tab {
      font-size: 1.1em;
      padding: 0.8rem;
    }
    .custom-radio {
      margin-bottom: 5px;
    }
    .custom-radio .form-check-input {
      margin-left: 10px;
    }
    .custom-radio .form-check-label {
      font-size: 1.1em;
    }
  }
  @media screen and (max-width: 400px) {
    .booking_form {
      padding: 0 1.5rem;
    }

    .booking_form_otp_verification {
      padding: 0 2rem;
    }
  }

  .booking_confirmation_container {
    padding: 0 1rem;
  }
  .booking_confirmation_details {
    font-weight: 700;
    font-size: 14px;
  }

  .booking_share_icon {
    top: 1rem;
    right: 1rem;
    width: 26px;
  }
  .booking_varified {
    max-width: 7rem;
  }

  .booking_form_card_btn {
    padding: 0.5rem 3rem;
    font-size: 1em;
  }
  //patient booking styles
  .patient_details_wrapper {
    padding: 2rem 1rem;
  }

  //confirmation style
  .booking_confirmation_detail_label {
    min-width: 8.5rem;
  }
}
