
.table_parent{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.table_width{
    width: 100%;
    white-space: nowrap;
}
.table-row td {
    padding: 15px; 
    color: #646464;
    font-size: 16px;
    font-weight: 400;
}
.table_head th{
    border-color: #fff;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 600;
  
}
.table-row .queue_position{
    color: #4361EE;
    font-size: 18px;
    font-weight: 600;
}
.empty_data {
  width: 100%;
    display: grid;
    place-items: center;
    height: 15rem;
  }
  
  
//   .table th, .table td {
//     padding: 15px; 
//   }
  