/*--------------------------------------------------------------
Doctor Profie
----------------------------------------------------------------*/

.details_wrapper {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 2px 2px 14px 0px #00000026;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 2rem;
}

.profile_details_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.profile_left_section {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.profile_container {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_container_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.doctor_name {
  font-size: 30px;
  font-weight: 600;
  color: $blue;
  text-transform: capitalize;
}
.doctor_designation {
  margin-top: -10px;
  font-size: 18px;
  font-weight: 400;
  color: #6d6d6d;
}
.doctor_desc {
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
  color: #6d6d6d;
}
.profile_right_section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.profile_clinic_name {
  border: 1px solid $blue;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.1em;
  color: #a0a0a0;
  padding: 3px 2px 3px 0.5rem;
  max-width: 388px;
  display: flex;
  align-items: center;
}
.profile_direction_btn {
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background-color: $blue;
  min-width: 150px;
  height: 36px;
  border: none;
  border-radius: 5px;
}
.profile_report_btn {
  font-size: 1.15em;
  font-weight: 500;
  color: #c43030;
  border: 0.5px solid #c4303080;
  background-color: transparent;
  width: 7em;
  height: 40px;
  border-radius: 5px;
  transition: all 0.3s;
}
.profile_report_btn:hover {
  color: $white;
  border: none;
  background-color: #c43030;
}

.booking_title_container {
  margin-top: 2.5rem;
  width: 100%;
  font-size: 1.31em;
  font-weight: 500;
  line-height: 17.56px;
  color: $black1;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 1rem;
}
.row_border {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}
.dr_clinic_card_container {
  margin: 2.5rem 0 3rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 1rem;
}
.dr_clinic_card {
  width: 100%;
  min-width: 24rem;
  border-radius: 5px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  gap: 0.875rem;
  padding: 0.35rem 0.55rem;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
.dr_clinic_card.active {
  border: 1px solid $blue;
}
.dr_clinic_photo {
  width: 100%;
  max-width: 76px;
  height: 62px;
  border-radius: 5px;
  object-fit: cover;
}
.dr_clinic_name {
  font-size: 19px;
  font-weight: 500;
  color: $black1;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.dr_clinic_place {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  text-transform: capitalize;
}
.dr_clinic_arrow {
  margin-left: auto;
  margin-right: 0.875rem;
}
.dr_clinic_card.active .dr_clinic_arrow {
  margin-left: auto;
  margin-right: 0.875rem;
  width: 7.5px;
  height: 13px;
  rotate: -90deg;
}

.booking_title_card {
  border-radius: 5px;
  border: 0.5px solid #307bc480;
  font-size: 1.17em;
  font-weight: 500;
  color: $blue;
  padding: 0.45rem 1.25rem;
}

.date_selector_wrapper {
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 310px 1fr;
  gap: 2.5rem;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 2.5rem;
}

.date_picker_container {
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flatpickr-calendar {
  background-color: $white !important;
  border: none !important;
  box-shadow: none !important;
}
.flatpickr-day.selected {
  color: $white !important;
  border: none !important;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  border: 0.5px solid #d2d2d2;
  display: grid;
  place-items: center;
  border-radius: 5px;
  padding: 0 10px;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  color: $black1;
  fill: $black1;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: $blue;
  color: $blue;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $blue;
  color: #fff;
}

.flatpickr-input {
  display: none;
}
.flatpickr-calendar .dayContainer {
  font-size: 1.15em;
}

.time_picker_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 100%;
  height: 100%;
  border-left: 1px solid #e6e6e6;
  padding-left: 2.5rem;
}

.booking_time_label {
  font-size: 1.35rem;
  font-weight: 500;
  color: $blue;
}

.time_selector_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.timeslot_selector_btn,
.time_selector_btn {
  flex: 0 0 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  border: 0.5px solid #d2d2d2;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
  color: $black1;
}
.time_selector_btn {
  flex: 0 0 90px;
  font-size: 15px;
}

.timeslot_selector_btn input,
.time_selector_btn input {
  display: none;
}

.timeslot_selector_btn.disabled,
.time_selector_btn.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.timeslot_selector_btn:hover,
.time_selector_btn:hover {
  background-color: #d5f5e4;
}

.timeslot_selector_btn.selected,
.time_selector_btn.selected {
  background-color: $blue;
  color: $white;
}

.timeSelector_labels_container {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 2.25rem;
}
.timeSelector_label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  color: $black1;
}
.timeSelector_label .color_box {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: $blue;
}
.timeSelector_label .booked {
  background-color: #cccccc;
}
.timeSelector_label .available {
  background-color: $black1;
}

.booking_form_radio_wrpper {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1399px) {
  .dr_clinic_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1199px) {
  .date_selector_wrapper {
    grid-template-columns: repeat(1, auto);
  }
  .timeSelector_labels_container {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 991px) {
  .details_wrapper {
    padding: 2rem 1.5rem;
  }

  .profile_details_container {
    gap: 1.5rem;
  }
  .profile_left_section {
    gap: 1.5rem;
  }
  .profile_container {
    width: 110px;
    height: 110px;
  }
  .doctor_name {
    font-size: 26px;
  }
  .doctor_designation {
    font-size: 15px;
  }
  .doctor_desc {
    margin-top: 0.5rem;
    font-size: 12px;
  }
  .profile_clinic_name {
    font-size: 0.9em;
  }
  .profile_direction_btn {
    font-size: 12px;
    min-width: 110px;
    height: 30px;
  }
  .profile_report_btn {
    font-size: 1em;
    width: 6.5em;
    height: 33px;
  }
  .booking_title_container {
    font-size: 1.2em;
    gap: 0.5rem;
  }

  .booking_title_card {
    font-size: 1em;
    padding: 0.4rem 1.1rem;
  }
  .date_selector_wrapper {
    grid-template-columns: repeat(1, auto);
  }
  .time_picker_container {
    border-left: none;
    padding: 0;
    border-top: 1px solid #e6e6e6;
    padding-top: 2.5rem;
  }
  .booking_time_label {
    font-size: 1rem;
  }
  .timeslot_selector_btn {
    flex: 0 0 150px;
    padding: 0.35rem 0.75rem;
    font-size: 0.9em;
  }
  .time_selector_btn {
    flex: 0 0 80px;
    padding: 0.25rem 0;
    font-size: 0.9em;
  }
  .timeSelector_labels_container {
    margin-top: 2rem;
    gap: 1.85rem;
    flex-wrap: wrap;
  }
  .timeSelector_label {
    gap: 0.5rem;
    font-size: 14px;
  }
  .timeSelector_label .color_box {
    width: 19px;
    height: 19px;
  }

  .dr_clinic_card_container {
    margin: 1.5rem 0 1rem 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 1rem;
  }
  .dr_clinic_card {
    width: 100%;
    min-width: 121px;
    max-width: 121px;
    min-height: 145px;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.45rem;
  }
  .dr_clinic_photo {
    width: 100%;
    min-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .dr_clinic_name {
    font-size: 13px;
    text-align: center;
  }
  .dr_clinic_place {
    font-size: 12px;
    text-align: center;
  }
  .dr_clinic_arrow {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .details_wrapper {
    padding: 1.5rem 1rem;
  }
  .profile_left_section {
    gap: 1rem;
  }
  .profile_container {
    width: 90px;
    height: 90px;
  }
  .doctor_name {
    font-size: 22px;
  }
  .doctor_designation {
    font-size: 13px;
  }
  .doctor_desc {
    margin-top: 0.25rem;
    font-size: 10px;
  }
  .profile_right_section {
    gap: 1rem;
  }
  .profile_clinic_name {
    font-size: 0.85em;
  }
  .profile_direction_btn {
    font-size: 11.5px;
    min-width: 100px;
    height: 28px;
  }
  .profile_report_btn {
    font-size: 0.9em;
    width: 6em;
    height: 30px;
  }
  .booking_title_container {
    font-size: 1.1em;
  }

  .booking_title_card {
    font-size: 0.985em;
  }
  .booking_time_label {
    font-size: 0.985rem;
  }
  .timeslot_selector_btn {
    flex: 0 0 145px;
    font-size: 0.85em;
  }
  .time_selector_btn {
    flex: 0 0 75px;
    font-size: 0.85em;
  }
  .timeSelector_labels_container {
    gap: 1.5rem;
  }
  .timeSelector_label {
    gap: 0.45rem;
    font-size: 13px;
  }
  .timeSelector_label .color_box {
    width: 18px;
    height: 18px;
  }

  .flatpickr-calendar .dayContainer {
    font-size: 0.9em;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }

  .flatpickr-calendar .flatpickr-day {
    max-width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .flatpickr-current-month {
    font-size: 1.125em;
    width: 70%;
    left: 6%;
  }

  .flatpickr-weekdays {
    width: 92%;
    font-size: 1em;
  }
  .flatpickr-calendar {
    width: 280px;
  }

  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month {
    padding: 0px 5px;
  }
  .flatpickr-months .flatpickr-prev-month svg,
  .flatpickr-months .flatpickr-next-month svg {
    width: 12px;
    height: 12px;
  }
}
