.plans-slider-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: fit-content;
}
.plan-pricing-card {
  width: 100%;
  max-width: 30rem;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
}

.st-plan-price {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  transition: all 0.4s ease;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  padding-top: 22px;
}

.st-plan-pricing-feature-title {
  font-size: 25px;
  margin-bottom: 20px;
}
.plan_feature_section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.basic_plan_text {
  margin: auto;
  font-size: medium;
  font-weight: 500;
  color: #3c3c3c;
}

@media (max-width: 991px) {
  .plans-slider-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .st-plan-price {
    font-size: 50px;
  }
  .st-pricing-feature-list li {
    font-size: 1rem;
  }

  .st-btn.st-style2.st-color1.st-size-medium {
    font-size: 0.9rem;
  }
}
